In [1]:
import pandas as pd
data = { 'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [24, 27, 22, 32],'Department': 
        ['HR', 'Finance', 'IT', 'Marketing'], 'Salary': [50000, 60000, 55000, 65000] }

df = pd.DataFrame(data)

names_series = df['Name']

print("DataFrame:")
print(df)
print("\nNames:")
print(names_series)

DataFrame:
      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27    Finance   60000
2  Charlie   22         IT   55000
3    David   32  Marketing   65000

Names:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [4]:
df_list = pd.DataFrame(data_list, columns=['Name', 'Age', 'Department', 'Salary'])

print("\nFirst two rows of the DataFrame from dictionary:")
print(df_dict.head(2))

print("\nBasic statistical analysis of the DataFrame from dictionary:")
print(df_dict.describe())

First two rows of the DataFrame from dictionary:
    Name  Age Department  Salary
0  Alice   24         HR   50000
1    Bob   27    Finance   60000

Basic statistical analysis of the DataFrame from dictionary:
             Age        Salary
count   4.000000      4.000000
mean   26.250000  57500.000000
std     4.349329   6454.972244
min    22.000000  50000.000000
25%    23.500000  53750.000000
50%    25.500000  57500.000000
75%    28.250000  61250.000000
max    32.000000  65000.000000

In [6]:
df2=pd.read_csv("student-dataset.csv")
print(df2)

      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0       31.31     120.62      F           NaN   22            3.5         3.7
1       34.39    -118.54      M           NaN   22            2.9         3.2
2       37.80    -122.27      F           NaN   22            3.9         3.8
3       37.69    -122.09      F           NaN   20            3.3         2.8
4      -23.18     -45.88      F           NaN   21            3.7         2.6
..        ...        ...    ...           ...  ...            ...         ...
302     39.96     -83.00      M           NaN   20            3.6         3.7
303     34.05    -118.24      F           NaN   20            3.6         3.9
304     34.05    -118.24      M           NaN   20            3.2         3.4
305     37.80    -122.27      F           NaN   23            3.0         2.8
306     43.67     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 16 columns]

In [11]:
print(df.iloc[10:15])

Empty DataFrame
Columns: [Name, Age, Department, Salary]
Index: []

In [12]:
df.describe()

             Age        Salary
count   4.000000      4.000000
mean   26.250000  57500.000000
std     4.349329   6454.972244
min    22.000000  50000.000000
25%    23.500000  53750.000000
50%    25.500000  57500.000000
75%    28.250000  61250.000000
max    32.000000  65000.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      int64
 2   Department  4 non-null      object
 3   Salary      4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes